.bg-purple-2{
    background-color: #BB6BD9 !important;
}

.bg-yellow-50{
    background-color: #FFFAE5 !important;
}

.bg-yellow-100{
    background-color: #FFF9C4 !important;
}

.bg-yellow-600{
    background-color: #FDD835 !important;
}

.bg-green-400{
    background-color: #59DABC !important;
}

.bg-green-100{
    background-color: #C8E6C9 !important;
}

.bg-green-50{
    background-color: #E8F5E9 !important;
}

.bg-red-50{
    background-color: #FEEBEE !important;
}

.bg-red-700{
    background-color: #FBDCDC !important;
}

.bg-red-200{
    background-color: #EF9A9A !important;
}

.bg-grey-100 {
    background-color: #F3F4F5 !important;
}

.bg-grey-200 {
    background-color: #EEEEEE !important;
}

.bg-grey-300 {
    background-color: #e8e8e8 !important;
}

.bg-grey-10 {
    background-color: #E7E9EC !important;
}

.bg-grey-50 {
    background-color: #F9FAFA !important;
}

.bg-blue-50 {
    background-color: #edf7ff !important;
}
.bg-blue-100 {
    background-color: #BBDEFB !important;
}

.bg-blue-300 {
    background-color: #64B5F6 !important;
}

.color-white{
    color: #ffffff !important;
}
.color-red{
    color: #ef5350 !important;
}
.color-red-700{
    color: #D32F2F !important;
}
.color-red-500{
    color: #EC4E4F !important;
}
.color-red-400{
    color: #FF1744 !important;
}
.color-green{
    color: #43A047 !important;
}

.color-green-600{
    color: #2AB74D !important; 
}

.color-green-700{
    color: #388E3C !important;
}

.color-green-400{
    color: #66BB6A !important;
}

.color-green-500{
    color: #4CAF50 !important;
}

.color-green-800{
    color: #1E8237 !important;
}
.color-blue{
    color: #3E8AFA !important;
}

.color-blue-300{
    color: #3395FF !important;
}

.color-blue-500{
    color: #007AFF !important;
}

.color-blue-700{
    color: #1976D2 !important;
}

.color-blue-800{
    color: #1565C0 !important;
}

.color-blue-900{
    color: #0D47A1 !important;
}

.color-grey-700{
    color: #616161 !important;
}

.color-grey-400{
    color: #BDBDBD !important;
}

.color-grey-500{
    color: #9E9E9E !important;
}

.color-grey-600{
    color: #757575 !important;
}

.color-grey-800{
    color: #2E445A !important;
}

.color-grey-900{
    color: #212121 !important;
}

.color-yellow-900{
    color: #FF7C2A !important;
}

.color-yellow-600{
    color: #FFB80B !important;
}

.color-yellow-700{
    color: #FBC02D !important;
}

.color-yellow-800{
    color: #F9A825 !important;
}

.color-grey{
    color: #12263A !important;
}

.color-grey-30{
    color: #B8BEC4 !important;
}

.color-grey-50{
    color: #7D8893 !important;
}

.color-grey-200{
    color: #DBDFE3 !important;
}
