// .bb-backdrop {
//     background: $white;
//     padding: 1rem;
//     border-radius: 7px;
//     border: 1px solid #dee2e6!important;
//     box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
// }
// .bb-bg-grey {
//     background: #f8f8f8
// }

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(214, 214, 214);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(195, 195, 195);
}

